<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- compound id lookup -->
    <add key="molengine.lookup.1" value="compound"/>
    <!-- <add key="molengine.lookup.1.provider" value="oracle"/> -->
    <add key="molengine.lookup.1.provider" value="sqlserver"/>
    <add key="molengine.lookup.1.connectionstring" value="Data Source=;initial catalog=;Integrated Security=True;"/>
    <add key="molengine.lookup.1.sql" value="select molfile from structures where compoundid={q}"/>
    <add key="molengine.lookup.1.molformat" value="molfile"/>
    <add key="molengine.lookup.1.regex" value=""/>

    <!-- molengine license code -->
    <add key="scilligence.license" value="# Licensed to: (Evaluation)
# Product: JSDrawWebServices
# SN: b8f1bb6c-b0b5-4cf7-ae68-d4119fa31b72
# Expiration Date: 2014-Feb-20
MDIwMDAzMDQwMzExMDgxMDExMDkxNDE0MTUxMTA4MDAwODA0MDQwODE1MDMxMjEwMTExMTA1MDkwMjAz
MDAwNzE0MDIwNjA5MDExMTAyMTMwNjEzMDUwMDA1MTUwMDE1MTUxMjEyMTQxNTAzMDQxNDAxMTAwNjEx
MDUxMTE1MDQwMzAzMTExMzAyMTAxMzAzMTUxMjAzMTIwOTA5MDMwNzE0MDUxMDAyMDgwNzA2MTUwNjA5
MDcxMDA1MDcxMTAxMDgwNzAzMTMxMzAyMDcwNDA0MDExNDExMTUxMDEyMDIwMDAxMDgwNTAxMTAxMTE0
MTEwNjA3MDcwOTA3MDAxMTAzMDgxMzA5MDAwOTA4MDIwMTEyMTUxMTE0MTIwNTA5MDIwNjE0MTAxMzEx
MDIwMjE1MDQwNzAwMDIwNjA2MDYwNTAxMTMwOTExMDkxNTA1MDAwNzA1MDcwMTExMTAxMzAwMDgwODA2
MDAxNDA5MDEwOTEzMDAwMjA0MTUwMjAxMTQwNjExMDAwMDEyMDcwOTExMDUxMTExMTMwMzAwMDExMzAz
MDEwNDAyMDcwODEwMTAxMjAxMTUwMTA1MDUwNDExMDUwOTEyMTExMDAxMDkxMDA2MTUwNDEyMTUxNDA4
MTExNTAxMTQxMTEyMDkxMjEzMTUwMjEyMDMxNDA4MDkwMjEwMTExMjExMDMwNTE1MDgwMTAyMDYwNzEx
MTIwNDExMDAwNzA2MDAxMzA1MTUwNjAxMDYwNzAzMTIxMjAyMDUwMTA3MTEwMzEzMDIxMTAzMDMxMDEw
MDAwMjAzMDIxMTE1MDMxMDA4MDgwMzEzMDIwMDA2MDMwODExMDcwNjAzMDUxNDA4MDIwNTEyMDkwNjEx
MDkwODAyMDIwOTA1MDYwODE1MDgwOTEzMDQxNDAxMDEwMDAyMTAxNTA3MTQwOTAxMTQxMTEwMDUwNzA2
MDYxNDA4MDMwMzA3MDAwODExMDMwNDA1MDkwMjExMTIxMTEzMDYwNzE0MTExNTA5MDQxMjEyMTIwODA3
MDQwOTA0MDgwODExMDAwNjEyMDkxMjE0MDYxMTEyMDYwMjE0MDcwMzExMTMwNjEzMDEwMjEwMDcwNTEz
MDgwMDEzMDcxNTAyMDUwMzA4MDMwNzA1MDMwMzA1MDIxNTAyMTMwNTAyMTAxMzEzMDQwMTA3MDUwNDA4
MDcwMTAxMTAwOTEzMDAxMjA2MTUwNTEwMTAwNDAzMDExMjEyMDUwNDEwMDYwMTExMDYxMTA1MDUwMTA2
MTExMzA5MDQxMTA2MDEwMTEwMTQxMzA0MDEwNTA4MDExNTA4MDQwMTE1MTAxMDA3MDIxMTAxMTIwMTA5
MTUwMTA3MDgxMTA5MTAwMjE1MDMwMTA5MTUwMDA0MDQwMzA5MDkwMDA1MDQxMDEzMTAwMTAyMDkwMTA4
MDYwMTAxMTQxNTAwMTAxNDEwMDkwNjA1MTIwMjEzMDExNTA2MTQwNTE0MTMxMzAyMTAwNzA0MTExNDEw
MTIxMDA4MDkxMzAy
"/>
  </appSettings>
</configuration>